@tailwind base;
@tailwind components;
@tailwind utilities;

/* 58A4B0 - color for metric font */

body,
html {
  background-color: rgb(31 41 55 / 1);
  color: #ebebeb;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
